<div style="background-color: grey">
<h1 style="text-align: center">{{ title }}!</h1>
<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li id="{{i}}" appStrikethrough>{{quote.name}} <br>{{quote.quote}}<br>{{quote.author}}<br>{{quote.date}}</li>
    <div >
   <button  style="background-color: orange"(click)='toogleDetails(i)'>Click me!!</button>
    </div>
   <button (click)="like()"> Like </button>
   <button (click)="dislike()"> Dislike </button>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
  </div>

</ul>
</div>
</div>
</div>
