<!-- <div class="container-fluid" style="background-color: grey">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Name is required </p>
        </div>

         {{newQuote.name}}

      </div>
<div class="form-group">

  <label for="quote">Quote</label>
  <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote">

  {{newQuote.quote}}

</div>
<div class="form-group">

  <label for="author">Author of the Quote</label>
  <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author">

   {{newQuote.author}}

</div>
      <div class="form-group">
        <label for="date">Creation Day</label>
        <input type='date' id="date" required class="form-control" [(ngModel)]="newQuote.date" name="date">

        {{newQuote.date}}


      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>  -->

<div class="container-fluid" style="background-color: grey">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newname" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Name is required </p>
        </div>

        {{newname}}

      </div>
      <div class="form-group">

        <label for="quote">Quote</label>
        <input type="text" required class="form-control" id="quote" [(ngModel)]="newquote" name="quote"> {{newquote}}

      </div>
      <div class="form-group">

        <label for="author">Author </label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newauthor" name="author"> {{newauthor}}

      </div>
      <div class="form-group">
        <label for="date">Creation Day</label>
        <input type='date' id="date" required class="form-control" id="date" [(ngModel)]="newdate" name="date"> {{newdate}}


      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>
